In [5]:
import pandas as pd
# 设置自定义列表输出最多为10行
pd.options.display.max_rows = 10 
# 显示当前的pandas的版本号
pd.__version__

'0.25.0'

In [17]:
df = pd.DataFrame(
    {
        'var1':1.0,
        'var2':[1,2,3,4],
        'var3':["a","b","c","d"],
        'var4':"cons"
    }
)

df

   var1  var2 var3  var4
0   1.0     1    a  cons
1   1.0     2    b  cons
2   1.0     3    c  cons
3   1.0     4    d  cons

In [30]:
df1 = pd.DataFrame
(
    [
        [1,"test"],
        [2,"train"],
        [3,"test"],
        [4,"train"]
    ],
    columns = {'var2','var3'}
)

SyntaxError: invalid syntax (<ipython-input-30-9edb66c6fad6>, line 9)

In [32]:
df2 = pd.read_csv("高校信息.csv",encoding="gbk")
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [36]:
df3 = pd.read_table("高校信息.csv",sep=',',encoding='gbk')
df3

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [41]:
df4 = pd.read_excel('高校信息.xlsx',sheet_name=1)
df4

    名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0    1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1    2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2    3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3    4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4    5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ..     ...     ...  ..  ...  ...      ...  ...
45  46  南京农业大学   65.90  农林   江苏  南京市  行业特色研究型  教育部
46  47    西北大学   65.88  综合   陕西  西安市    区域研究型  陕西省
47  48  华东理工大学   65.79  理工   上海  上海市  行业特色研究型  教育部
48  49  华中农业大学   65.77  农林   湖北  武汉市  行业特色研究型  教育部
49  50  南京师范大学   65.71  师范   江苏  南京市  区域特色研究型  江苏省

[50 rows x 8 columns]

In [56]:
df5 = pd.read_csv('PM25/Beijing_2008_HourlyPM2.5_created20140325.csv',skiprows = range(1,3),encoding='windows 1252')
df5

                                                                             A fact sheet with definitions and metadata for this dataset can be found at http://www.stateair.net/web/historical/1/1.html.
Site    Parameter Date (LST)       Year Month Day Hour Value Unit   Duration                                            QC Name
Beijing PM2.5     2008-04-08 15:00 2008 4     8   15   207   µg/mg³ 1 Hr                                                  Valid
                  2008-04-08 16:00 2008 4     8   16   180   µg/mg³ 1 Hr                                                  Valid
                  2008-04-08 17:00 2008 4     8   17   152   µg/mg³ 1 Hr                                                  Valid
                  2008-04-08 18:00 2008 4     8   18   162   µg/mg³ 1 Hr                                                  Valid
...                                                                                                                         ...
                  2008-11-06 09:00 2008 11    6   9    42    µg/mg³ 1 Hr                                                  Valid
                  2008-11-06 10:00 2008 11    6   10   46    µg/mg³ 1 Hr                                                  Valid
                  2008-11-06 11:00 2008 11    6   11   40    µg/mg³ 1 Hr                                                  Valid
                  2008-11-06 12:00 2008 11    6   12   35    µg/mg³ 1 Hr                                                  Valid
                  2008-11-06 13:00 2008 11    6   13   19    µg/mg³ 1 Hr                                                  Valid

[5088 rows x 1 columns]

In [57]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [58]:
print(df2)

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [59]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [60]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
名次      100 non-null int64
学校名称    100 non-null object
总分      100 non-null float64
类型      100 non-null object
所在省份    100 non-null object
所在城市    100 non-null object
办学方向    100 non-null object
主管部门    100 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.4+ KB

In [61]:
df2.head()

   名次  学校名称      总分  类型 所在省份 所在城市   办学方向 主管部门
0   1  北京大学  100.00  综合   北京  北京市  中国研究型  教育部
1   2  清华大学   98.50  理工   北京  北京市  中国研究型  教育部
2   3  复旦大学   82.79  综合   上海  上海市  中国研究型  教育部
3   4  武汉大学   82.43  综合   湖北  武汉市  中国研究型  教育部
4   5  浙江大学   82.38  综合   浙江  杭州市  中国研究型  教育部

In [62]:
df2.tail()

     名次    学校名称     总分  类型 所在省份 所在城市     办学方向 主管部门
95   96  浙江师范大学  63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学  63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学  63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学  63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学  63.29  综合   山西  太原市    区域研究型  山西省

In [63]:
df2.colunms

AttributeError: 'DataFrame' object has no attribute 'colunms'

In [64]:
df2.columns

Index(['名次', '学校名称', '总分', '类型', '所在省份', '所在城市', '办学方向', '主管部门'], dtype='object')

In [65]:
df2.columns = ['名次2','学校名称', '总分', '类型', '所在省份', '所在城市', '办学方向', '主管部门']

In [66]:
df2

    名次2    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [70]:
df3 = df2.rename(columns = {'学校名称':'学校名称2'},inplace = False)
df3

    名次2   学校名称2      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [74]:
df2

    名次2    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [75]:
df2.学校名称

0       北京大学
1       清华大学
2       复旦大学
3       武汉大学
4       浙江大学
       ...
95    浙江师范大学
96      安徽大学
97    首都医科大学
98      江南大学
99      山西大学
Name: 学校名称, Length: 100, dtype: object

In [76]:
df2["名次2"]

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: 名次2, Length: 100, dtype: int64

In [78]:
df2[["名次2","学校名称","总分"]]

    名次2    学校名称      总分
0     1    北京大学  100.00
1     2    清华大学   98.50
2     3    复旦大学   82.79
3     4    武汉大学   82.43
4     5    浙江大学   82.38
..  ...     ...     ...
95   96  浙江师范大学   63.37
96   97    安徽大学   63.34
97   98  首都医科大学   63.32
98   99    江南大学   63.31
99  100    山西大学   63.29

[100 rows x 3 columns]

In [82]:
df2.drop(columns = ["名次2"])

      学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..     ...     ...  ..  ...  ...      ...  ...
95  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [80]:
df2

    名次2    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [83]:
df2.dtypes

名次2       int64
学校名称     object
总分      float64
类型       object
所在省份     object
所在城市     object
办学方向     object
主管部门     object
dtype: object

In [84]:
df.astype(
    'str'
)

  var1 var2 var3  var4
0  1.0    1    a  cons
1  1.0    2    b  cons
2  1.0    3    c  cons
3  1.0    4    d  cons

In [85]:
df2.astype('str')

    名次2    学校名称     总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.0  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.5  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学  82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学  82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学  82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...    ...  ..  ...  ...      ...  ...
95   96  浙江师范大学  63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学  63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学  63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学  63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学  63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [86]:
df2.astype('str').dtypes

名次2     object
学校名称    object
总分      object
类型      object
所在省份    object
所在城市    object
办学方向    object
主管部门    object
dtype: object

In [87]:
df2["名次2"].astype('str')

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: 名次2, Length: 100, dtype: object

In [88]:
df2["名次2"]

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: 名次2, Length: 100, dtype: int64

In [90]:
df2[["名次2","总分"]].astype('str').apply.to_numeric

AttributeError: 'function' object has no attribute 'to_numeric'

In [91]:
df2[["名次2","总分"]].astype('str').apply(pd.to_numeric)

    名次2      总分
0     1  100.00
1     2   98.50
2     3   82.79
3     4   82.43
4     5   82.38
..  ...     ...
95   96   63.37
96   97   63.34
97   98   63.32
98   99   63.31
99  100   63.29

[100 rows x 2 columns]

In [93]:
df1 = pd.DataFrame(
    {
        'var1':1.0,
        'var2':[1,2,3,4],
        'var3':["test","train","test","train"],
        'var4':'cons'
    },
    index = [0,1,2,5],
)

df1

   var1  var2   var3  var4
0   1.0     1   test  cons
1   1.0     2  train  cons
2   1.0     3   test  cons
5   1.0     4  train  cons

In [96]:
df2 = pd.read_csv("高校信息.csv",encoding='gbk',index_col='学校名称')
df2

         名次      总分  类型 所在省份 所在城市     办学方向 主管部门
学校名称
北京大学      1  100.00  综合   北京  北京市    中国研究型  教育部
清华大学      2   98.50  理工   北京  北京市    中国研究型  教育部
复旦大学      3   82.79  综合   上海  上海市    中国研究型  教育部
武汉大学      4   82.43  综合   湖北  武汉市    中国研究型  教育部
浙江大学      5   82.38  综合   浙江  杭州市    中国研究型  教育部
...     ...     ...  ..  ...  ...      ...  ...
浙江师范大学   96   63.37  师范   浙江  金华市  区域特色研究型  浙江省
安徽大学     97   63.34  综合   安徽  合肥市    区域研究型  安徽省
首都医科大学   98   63.32  医药   北京  北京市  区域特色研究型  北京市
江南大学     99   63.31  综合   江苏  无锡市  区域特色研究型  教育部
山西大学    100   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [98]:
df2 = pd.read_csv("高校信息.csv",encoding='gbk',index_col=["类型","学校名称"])
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [99]:
df2 = pd.read_csv("高校信息.csv",encoding='gbk')
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [100]:
df_new = df2.set_index("名次")
df_new

       学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
名次
1      北京大学  100.00  综合   北京  北京市    中国研究型  教育部
2      清华大学   98.50  理工   北京  北京市    中国研究型  教育部
3      复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
4      武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
5      浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..      ...     ...  ..  ...  ...      ...  ...
96   浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
97     安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
98   首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
99     江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [101]:
df_new = df2.set_index("名次",append=True,drop = False)
df_new

         名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
   名次
0  1      1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1  2      2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2  3      3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3  4      4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4  5      5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
...     ...     ...     ...  ..  ...  ...      ...  ...
95 96    96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96 97    97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97 98    98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98 99    99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99 100  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [102]:
df_new2 = df2.copy()
df_new2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [108]:
df_new2

          名次    学校名称      总分  类型 所在城市     办学方向 主管部门
   所在省份
0  北京      1    北京大学  100.00  综合  北京市    中国研究型  教育部
1  北京      2    清华大学   98.50  理工  北京市    中国研究型  教育部
2  上海      3    复旦大学   82.79  综合  上海市    中国研究型  教育部
3  湖北      4    武汉大学   82.43  综合  武汉市    中国研究型  教育部
4  浙江      5    浙江大学   82.38  综合  杭州市    中国研究型  教育部
...      ...     ...     ...  ..  ...      ...  ...
95 浙江     96  浙江师范大学   63.37  师范  金华市  区域特色研究型  浙江省
96 安徽     97    安徽大学   63.34  综合  合肥市    区域研究型  安徽省
97 北京     98  首都医科大学   63.32  医药  北京市  区域特色研究型  北京市
98 江苏     99    江南大学   63.31  综合  无锡市  区域特色研究型  教育部
99 山西    100    山西大学   63.29  综合  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [111]:
df_new2.reset_index(inplace=True)
df_new2

    index  level_0 所在省份   名次    学校名称      总分  类型 所在城市     办学方向 主管部门
0       0        0   北京    1    北京大学  100.00  综合  北京市    中国研究型  教育部
1       1        1   北京    2    清华大学   98.50  理工  北京市    中国研究型  教育部
2       2        2   上海    3    复旦大学   82.79  综合  上海市    中国研究型  教育部
3       3        3   湖北    4    武汉大学   82.43  综合  武汉市    中国研究型  教育部
4       4        4   浙江    5    浙江大学   82.38  综合  杭州市    中国研究型  教育部
..    ...      ...  ...  ...     ...     ...  ..  ...      ...  ...
95     95       95   浙江   96  浙江师范大学   63.37  师范  金华市  区域特色研究型  浙江省
96     96       96   安徽   97    安徽大学   63.34  综合  合肥市    区域研究型  安徽省
97     97       97   北京   98  首都医科大学   63.32  医药  北京市  区域特色研究型  北京市
98     98       98   江苏   99    江南大学   63.31  综合  无锡市  区域特色研究型  教育部
99     99       99   山西  100    山西大学   63.29  综合  太原市    区域研究型  山西省

[100 rows x 10 columns]

In [112]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [113]:
df_new2.set_index(["类型","所在省份"],inplace=True)
df_new2

         index  level_0   名次    学校名称      总分 所在城市     办学方向 主管部门
类型 所在省份
综合 北京        0        0    1    北京大学  100.00  北京市    中国研究型  教育部
理工 北京        1        1    2    清华大学   98.50  北京市    中国研究型  教育部
综合 上海        2        2    3    复旦大学   82.79  上海市    中国研究型  教育部
   湖北        3        3    4    武汉大学   82.43  武汉市    中国研究型  教育部
   浙江        4        4    5    浙江大学   82.38  杭州市    中国研究型  教育部
...        ...      ...  ...     ...     ...  ...      ...  ...
师范 浙江       95       95   96  浙江师范大学   63.37  金华市  区域特色研究型  浙江省
综合 安徽       96       96   97    安徽大学   63.34  合肥市    区域研究型  安徽省
医药 北京       97       97   98  首都医科大学   63.32  北京市  区域特色研究型  北京市
综合 江苏       98       98   99    江南大学   63.31  无锡市  区域特色研究型  教育部
   山西       99       99  100    山西大学   63.29  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [116]:
df_new2.reset_index(level=["类型"],inplace=True)
df_new2

      类型  index  level_0   名次    学校名称      总分 所在城市     办学方向 主管部门
所在省份
北京    综合      0        0    1    北京大学  100.00  北京市    中国研究型  教育部
北京    理工      1        1    2    清华大学   98.50  北京市    中国研究型  教育部
上海    综合      2        2    3    复旦大学   82.79  上海市    中国研究型  教育部
湖北    综合      3        3    4    武汉大学   82.43  武汉市    中国研究型  教育部
浙江    综合      4        4    5    浙江大学   82.38  杭州市    中国研究型  教育部
...   ..    ...      ...  ...     ...     ...  ...      ...  ...
浙江    师范     95       95   96  浙江师范大学   63.37  金华市  区域特色研究型  浙江省
安徽    综合     96       96   97    安徽大学   63.34  合肥市    区域研究型  安徽省
北京    医药     97       97   98  首都医科大学   63.32  北京市  区域特色研究型  北京市
江苏    综合     98       98   99    江南大学   63.31  无锡市  区域特色研究型  教育部
山西    综合     99       99  100    山西大学   63.29  太原市    区域研究型  山西省

[100 rows x 9 columns]

In [117]:
df2.index

RangeIndex(start=0, stop=100, step=1)

In [118]:
df2.index[0]

0

In [119]:
df1.index

Int64Index([0, 1, 2, 5], dtype='int64')

In [120]:
df_new2.index

Index(['北京', '北京', '上海', '湖北', '浙江', '北京', '上海', '江苏', '湖南', '广东', '吉林', '安徽',
       '湖北', '四川', '北京', '天津', '陕西', '湖南', '上海', '天津', '黑龙江', '山东', '福建', '江苏',
       '北京', '辽宁', '重庆', '上海', '辽宁', '北京', '广东', '北京', '湖南', '湖北', '陕西', '甘肃',
       '四川', '湖北', '湖北', '吉林', '北京', '北京', '陕西', '江苏', '北京', '江苏', '陕西', '上海',
       '湖北', '江苏', '四川', '重庆', '山东', '江苏', '河南', '江苏', '黑龙江', '广东', '云南', '北京',
       '江苏', '河南', '江苏', '上海', '陕西', '北京', '安徽', '北京', '陕西', '重庆', '上海', '湖南',
       '陕西', '广东', '上海', '湖北', '四川', '北京', '上海', '江西', '江苏', '北京', '北京', '福建',
       '广西', '陕西', '广东', '北京', '北京', '北京', '河北', '北京', '北京', '浙江', '广东', '浙江',
       '安徽', '北京', '江苏', '山西'],
      dtype='object', name='所在省份')

In [121]:
df2.index.names

FrozenList([None])

In [124]:
df_new2.index.names

FrozenList(['所在省份'])

In [125]:
df2.index.names = ['idx']
df2.index.names

FrozenList(['idx'])

In [126]:
df2

      名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
idx
0      1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1      2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2      3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3      4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4      5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..   ...     ...     ...  ..  ...  ...      ...  ...
95    96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96    97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97    98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98    99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99   100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [127]:
df_new2.index.names = [None]

In [128]:
df_new2

    类型  index  level_0   名次    学校名称      总分 所在城市     办学方向 主管部门
北京  综合      0        0    1    北京大学  100.00  北京市    中国研究型  教育部
北京  理工      1        1    2    清华大学   98.50  北京市    中国研究型  教育部
上海  综合      2        2    3    复旦大学   82.79  上海市    中国研究型  教育部
湖北  综合      3        3    4    武汉大学   82.43  武汉市    中国研究型  教育部
浙江  综合      4        4    5    浙江大学   82.38  杭州市    中国研究型  教育部
..  ..    ...      ...  ...     ...     ...  ...      ...  ...
浙江  师范     95       95   96  浙江师范大学   63.37  金华市  区域特色研究型  浙江省
安徽  综合     96       96   97    安徽大学   63.34  合肥市    区域研究型  安徽省
北京  医药     97       97   98  首都医科大学   63.32  北京市  区域特色研究型  北京市
江苏  综合     98       98   99    江南大学   63.31  无锡市  区域特色研究型  教育部
山西  综合     99       99  100    山西大学   63.29  太原市    区域研究型  山西省

[100 rows x 9 columns]

In [129]:
df_new2.index.names = ["所在省份"]

In [130]:
df_new2

      类型  index  level_0   名次    学校名称      总分 所在城市     办学方向 主管部门
所在省份
北京    综合      0        0    1    北京大学  100.00  北京市    中国研究型  教育部
北京    理工      1        1    2    清华大学   98.50  北京市    中国研究型  教育部
上海    综合      2        2    3    复旦大学   82.79  上海市    中国研究型  教育部
湖北    综合      3        3    4    武汉大学   82.43  武汉市    中国研究型  教育部
浙江    综合      4        4    5    浙江大学   82.38  杭州市    中国研究型  教育部
...   ..    ...      ...  ...     ...     ...  ...      ...  ...
浙江    师范     95       95   96  浙江师范大学   63.37  金华市  区域特色研究型  浙江省
安徽    综合     96       96   97    安徽大学   63.34  合肥市    区域研究型  安徽省
北京    医药     97       97   98  首都医科大学   63.32  北京市  区域特色研究型  北京市
江苏    综合     98       98   99    江南大学   63.31  无锡市  区域特色研究型  教育部
山西    综合     99       99  100    山西大学   63.29  太原市    区域研究型  山西省

[100 rows x 9 columns]

In [132]:
df1.index = ['a','b','c',5]

In [134]:
df1

   var1  var2   var3  var4
a   1.0     1   test  cons
b   1.0     2  train  cons
c   1.0     3   test  cons
5   1.0     4  train  cons

In [137]:
df1.index = range(1,5)

In [138]:
df1

   var1  var2   var3  var4
1   1.0     1   test  cons
2   1.0     2  train  cons
3   1.0     3   test  cons
4   1.0     4  train  cons

In [139]:
df2.set_index("名次")

       学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
名次
1      北京大学  100.00  综合   北京  北京市    中国研究型  教育部
2      清华大学   98.50  理工   北京  北京市    中国研究型  教育部
3      复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
4      武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
5      浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..      ...     ...  ..  ...  ...      ...  ...
96   浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
97     安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
98   首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
99     江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [140]:
df2.reindex()

      名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
idx
0      1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1      2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2      3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3      4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4      5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..   ...     ...     ...  ..  ...  ...      ...  ...
95    96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96    97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97    98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98    99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99   100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [141]:
df2.index

RangeIndex(start=0, stop=100, step=1, name='idx')

In [142]:
df2.index.names = [None]

In [143]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [144]:
df2.reindex([1,2,99,101])

        名次  学校名称     总分   类型 所在省份 所在城市   办学方向 主管部门
1      2.0  清华大学  98.50   理工   北京  北京市  中国研究型  教育部
2      3.0  复旦大学  82.79   综合   上海  上海市  中国研究型  教育部
99   100.0  山西大学  63.29   综合   山西  太原市  区域研究型  山西省
101    NaN   NaN    NaN  NaN  NaN  NaN    NaN  NaN

In [145]:
df2.reindex([1,2,99,101],method = 'ffill')

      名次  学校名称     总分  类型 所在省份 所在城市   办学方向 主管部门
1      2  清华大学  98.50  理工   北京  北京市  中国研究型  教育部
2      3  复旦大学  82.79  综合   上海  上海市  中国研究型  教育部
99   100  山西大学  63.29  综合   山西  太原市  区域研究型  山西省
101  100  山西大学  63.29  综合   山西  太原市  区域研究型  山西省

In [146]:
df2.reindex([1,2,99,101],fill_value = "不知道")

      名次  学校名称     总分   类型 所在省份 所在城市   办学方向 主管部门
1      2  清华大学   98.5   理工   北京  北京市  中国研究型  教育部
2      3  复旦大学  82.79   综合   上海  上海市  中国研究型  教育部
99   100  山西大学  63.29   综合   山西  太原市  区域研究型  山西省
101  不知道   不知道    不知道  不知道  不知道  不知道    不知道  不知道

In [147]:
df2.reindex([1,2,99,101],fill_value = "不知道").dtypes

名次      object
学校名称    object
总分      object
类型      object
所在省份    object
所在城市    object
办学方向    object
主管部门    object
dtype: object